#clockContainer_ld {
	position: relative;
    bottom: 600px;
	margin: auto;
	height: 30vw;
	/*to make the height and width responsive*/
	width: 30vw;
	/*setting our background image*/
	background-size: 100%;
}

#hour_ld,
#minute_ld,
#second_ld {
	position: absolute;
	background: black;
	border-radius: 10px;
	transform-origin: bottom;
}

#hour_ld {
	width: 1.8%;
	height: 8%;
	top: 42%;
	left: 48.85%;
	opacity: 0.8;
}

#minute_ld {
	width: 1.6%;
	height: 15%;
	top: 35%;
	left: 48.9%;
	opacity: 0.8;
}

#second_ld {
	width: 1%;
	height: 20%;
	top: 30%;
	left: 49.25%;
	opacity: 0.8;
}

#png_ld {
    width: 100%;
    height: 100%;
    transform-origin: center;
    position: absolute;
}

#text_ld {
    position: relative;
    top: 600px;
    left: 180px;
}